* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

#container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: none;
  flex-direction: column;
}
#container1 label {
  position: absolute;
  top: 38%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
#container1 #bolas {
  display: flex;
  justify-content: space-between;
}
#container1 .bola {
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  background-color: black;
  margin-left: 5px;
}

#cabecalho {
  width: 100%;
  height: 60px;
  background-color: rgb(0, 53, 228);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -80px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.49);
}
#cabecalho nav h3 {
  font-size: 24px;
  color: white;
}

#chatbot {
  margin-top: 10vh;
}
#chatbot .mensagem {
  display: flex;
  align-items: center;
}
#chatbot .mensagem .caixaMensagem {
  color: white;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 13px;
  border-bottom-left-radius: 0px;
  background-color: rgb(26, 134, 236);
}
#chatbot .mensagem .fotoRobo {
  height: 60px;
  width: 60px;
}
#chatbot .resposta {
  width: 100%;
  height: 11vh;
  position: fixed;
  bottom: 0;
  display: none;
  background-color: white;
  box-shadow: 0px -10px 13px -16px rgba(0, 0, 0, 0.473);
}
#chatbot .resposta .rolar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#chatbot .resposta .rolar .button {
  width: 35%;
  height: 50px;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.cliente {
  display: flex;
  align-items: center;
  justify-content: end;
}
.cliente .fotoCliente {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.cliente .caixaMensagem {
  color: black;
  margin-right: 10px;
  padding: 15px 20px;
  border-radius: 13px;
  border-bottom-right-radius: 0px;
  background-color: rgb(230, 230, 230);
}

#containerLogin {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.384);
  display: none;
  justify-content: center;
  align-items: center;
}
#containerLogin .login {
  background-color: white;
  padding: 0% 9% 9% 9%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#containerLogin .login .fechar {
  position: absolute;
  margin: 9px 0px 0px 28vh;
  font-weight: bold;
  width: 20px;
  height: 20px;
}
#containerLogin .login .fechar:hover {
  color: red;
  transition: 0.2s;
  cursor: pointer;
}
#containerLogin .login h2 {
  font-size: 18px;
  margin-top: 7vh;
}
#containerLogin .login label {
  margin: 4vh 0px -10px -16vh;
}
#containerLogin .login input {
  border-bottom: 1px solid black;
  padding: 0px 0px 5px 5px;
}
#containerLogin .login button {
  width: 28vh;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(26, 134, 236);
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
#containerLogin .login a {
  color: rgb(100, 100, 100);
  margin-top: 5px;
  cursor: pointer;
}
#containerLogin .login a:hover {
  color: blue;
}
@media (width <= 425px) {
  #containerLogin .login label {
    margin: 4vh 0px -10px -18vh;
  }
  #containerLogin .login button {
    width: 100%;
    margin-top: 30px;
  }
}
#containerLogin .cadastro {
  background-color: white;
  padding: 5% 9%;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
#containerLogin .cadastro div {
  margin-top: 20px;
}
#containerLogin .cadastro .fechar {
  position: absolute;
  margin: -4% 0px 0px 45%;
  font-weight: bold;
  width: 20px;
  height: 20px;
}
#containerLogin .cadastro .fechar:hover {
  color: red;
  transition: 0.2s;
  cursor: pointer;
}
#containerLogin .cadastro input {
  border-bottom: 1px solid black;
  padding: 0px 0px 5px 5px;
  margin-top: 3px;
}
#containerLogin .cadastro button {
  width: 24vh;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(26, 134, 236);
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
@media (width <= 425px) {
  #containerLogin .cadastro label {
    margin-left: 2%;
  }
  #containerLogin .cadastro button {
    width: 100%;
    margin-top: 30px;
  }
}/*# sourceMappingURL=styles.css.map */