* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

#container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
#container1 label {
  position: absolute;
  top: 38%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
#container1 #bolas {
  display: flex;
  justify-content: space-between;
}
#container1 .bola {
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  background-color: black;
  margin-left: 5px;
}

#cabecalho {
  width: 100%;
  height: 60px;
  background-color: rgb(0, 53, 228);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -80px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.49);
  z-index: 1000;
}
#cabecalho nav h3 {
  font-size: 24px;
  color: white;
}

main {
  padding-right: 1em;
  height: 88vh;
  padding-bottom: 50px;
  overflow-y: scroll;
}

#chatbot {
  margin-top: 10vh;
}
#chatbot .mensagem {
  display: flex;
  align-items: center;
}
#chatbot .mensagem .caixaMensagem {
  color: white;
  font-weight: bold;
  padding: 15px 25px 15px 20px;
  border-radius: 13px;
  border-bottom-left-radius: 0px;
  background-color: rgb(26, 134, 236);
}
#chatbot .mensagem .fotoRobo {
  height: 60px;
  width: 60px;
}
#chatbot .efeito3 {
  display: none;
}
#chatbot .efeito4 {
  margin-top: 10px;
}
#chatbot .efeito4 .caixaMensagem {
  padding-left: 30px;
}
#chatbot .efeito4 .caixaMensagem img {
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px black;
  cursor: pointer;
}
#chatbot .efeito4 .caixaMensagem a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
#chatbot .efeito4 .caixaMensagem a:hover {
  text-decoration: underline;
  color: blue;
  transition: 0.2s;
}
#chatbot .containerInferior {
  position: fixed;
  z-index: 10000000;
  bottom: 0;
  width: 100%;
}
#chatbot .containerInferior .compra {
  overflow: hidden;
}
#chatbot .containerInferior .compra .botaoSubir {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 23em 0px 0px -44px;
  display: flex;
  justify-content: center;
  line-height: 2em;
}
#chatbot .containerInferior .compra .botaoSubir .contagemPedido {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
  margin: -6px 0px 0px 32px;
  color: white;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
#chatbot .containerInferior .compra .pedidos {
  overflow: hidden;
  overflow-y: scroll;
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  top: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 100000;
}
#chatbot .containerInferior .compra .pedidos .fecharPedido {
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#chatbot .containerInferior .compra .pedidos .fecharPedido button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
}
#chatbot .containerInferior .compra .pedidos .containerPedidos {
  overflow-y: scroll;
  padding-bottom: 30px;
  height: 100%;
}
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido1,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido2,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido3,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido4,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido5,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido6,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido7,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido8,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido9,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido10 {
  margin-top: 30px;
  width: 100%;
  display: none;
  justify-content: space-evenly;
  padding: 20px 15px 20px 0px;
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
}
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido1 .imagemComida,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido2 .imagemComida,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido3 .imagemComida,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido4 .imagemComida,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido5 .imagemComida,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido6 .imagemComida,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido7 .imagemComida,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido8 .imagemComida,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido9 .imagemComida,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido10 .imagemComida {
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 10px;
}
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido1 .imagemComida div,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido2 .imagemComida div,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido3 .imagemComida div,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido4 .imagemComida div,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido5 .imagemComida div,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido6 .imagemComida div,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido7 .imagemComida div,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido8 .imagemComida div,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido9 .imagemComida div,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido10 .imagemComida div {
  width: 8vh;
  height: 8vh;
  background-image: url(../imagens/foto/A\ super\ salada\ do\ chefe.jpg);
  background-size: cover;
  border-radius: 50%;
}
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido1 .escrita,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido2 .escrita,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido3 .escrita,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido4 .escrita,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido5 .escrita,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido6 .escrita,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido7 .escrita,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido8 .escrita,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido9 .escrita,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido10 .escrita {
  width: 35%;
}
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido1 .escrita p,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido2 .escrita p,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido3 .escrita p,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido4 .escrita p,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido5 .escrita p,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido6 .escrita p,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido7 .escrita p,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido8 .escrita p,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido9 .escrita p,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido10 .escrita p {
  text-align: justify;
}
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido1 .escrita p .parteFechada,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido2 .escrita p .parteFechada,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido3 .escrita p .parteFechada,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido4 .escrita p .parteFechada,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido5 .escrita p .parteFechada,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido6 .escrita p .parteFechada,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido7 .escrita p .parteFechada,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido8 .escrita p .parteFechada,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido9 .escrita p .parteFechada,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido10 .escrita p .parteFechada {
  display: none;
}
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido1 .escrita p .lerMenos,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido2 .escrita p .lerMenos,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido3 .escrita p .lerMenos,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido4 .escrita p .lerMenos,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido5 .escrita p .lerMenos,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido6 .escrita p .lerMenos,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido7 .escrita p .lerMenos,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido8 .escrita p .lerMenos,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido9 .escrita p .lerMenos,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido10 .escrita p .lerMenos {
  display: none;
}
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido1 .preco,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido2 .preco,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido3 .preco,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido4 .preco,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido5 .preco,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido6 .preco,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido7 .preco,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido8 .preco,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido9 .preco,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido10 .preco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido1 .preco .valor,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido2 .preco .valor,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido3 .preco .valor,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido4 .preco .valor,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido5 .preco .valor,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido6 .preco .valor,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido7 .preco .valor,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido8 .preco .valor,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido9 .preco .valor,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido10 .preco .valor {
  font-size: 20px;
}
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido1 .preco .valor .containerQuantidade,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido2 .preco .valor .containerQuantidade,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido3 .preco .valor .containerQuantidade,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido4 .preco .valor .containerQuantidade,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido5 .preco .valor .containerQuantidade,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido6 .preco .valor .containerQuantidade,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido7 .preco .valor .containerQuantidade,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido8 .preco .valor .containerQuantidade,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido9 .preco .valor .containerQuantidade,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido10 .preco .valor .containerQuantidade {
  display: none;
  justify-content: center;
  margin-bottom: 5px;
}
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido1 .preco .acrescentar button,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido2 .preco .acrescentar button,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido3 .preco .acrescentar button,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido4 .preco .acrescentar button,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido5 .preco .acrescentar button,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido6 .preco .acrescentar button,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido7 .preco .acrescentar button,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido8 .preco .acrescentar button,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido9 .preco .acrescentar button,
#chatbot .containerInferior .compra .pedidos .containerPedidos .item .pedido10 .preco .acrescentar button {
  width: 30px;
  height: 30px;
  font-size: 30px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}
#chatbot .containerInferior .compra .pedidos .finalizarPedido {
  padding: 20px;
  width: 100%;
  height: 80px;
  box-shadow: 0px 0px 4px 0px rgb(153, 153, 153);
  display: flex;
  justify-content: center;
  background-color: white;
}
#chatbot .containerInferior .compra .pedidos .finalizarPedido button {
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  background-color: rgb(26, 134, 236);
  border-radius: 20px;
  width: 100%;
}
#chatbot .containerInferior .compra .pedidos .finalizarPedido button:hover {
  cursor: pointer;
}
#chatbot .containerInferior .compra .pedidos .finalizarPedido .valorTotal {
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
#chatbot .containerInferior .resposta {
  height: 11vh;
  display: none;
  background-color: white;
  box-shadow: 0px -10px 13px -16px rgba(0, 0, 0, 0.473);
}
#chatbot .containerInferior .resposta .rolar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#chatbot .containerInferior .resposta .rolar .button {
  width: 35%;
  height: 50px;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
#chatbot .containerInferior .resposta .comida {
  overflow: hidden;
  overflow-x: scroll;
  padding-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}
#chatbot .containerInferior .resposta .comida .button {
  height: 50px;
  padding: 0px 20px;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
#chatbot .containerInferior .resposta .comida .button:focus:not(.fim) {
  opacity: 0.5;
  cursor: none;
  transition: 1s;
}
@media (width <= 425px) {
  #chatbot .containerInferior .resposta .comida .button {
    margin-left: 20px;
  }
}
@media (width > 425px) {
  #chatbot .containerInferior .resposta .comida .button {
    margin-left: 20px;
  }
  #chatbot .containerInferior .resposta .comida .comida1 {
    margin-left: 30.5em;
  }
}
@media (width > 768px) {
  #chatbot .containerInferior .resposta .comida .button {
    margin-left: 0px;
  }
  #chatbot .containerInferior .resposta .comida .comida1 {
    margin-left: 0em;
  }
}
#chatbot .containerInferior .resposta .pagamento {
  overflow: hidden;
  overflow-x: scroll;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: space-evenly;
}
#chatbot .containerInferior .resposta .pagamento .credito,
#chatbot .containerInferior .resposta .pagamento .debito,
#chatbot .containerInferior .resposta .pagamento .pix {
  height: 80px;
  padding: 0px 20px;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
#chatbot .containerInferior .resposta .pagamento .credito span {
  background-image: url(../imagens/icones/creito.png);
  background-size: 40px;
  background-color: transparent;
  width: 40px;
  height: 40px;
}
#chatbot .containerInferior .resposta .pagamento .debito span {
  background-image: url(../imagens/icones/debito.png);
  background-size: 40px;
  background-color: transparent;
  width: 40px;
  height: 40px;
}
#chatbot .containerInferior .resposta .pagamento .pix span {
  background-image: url(../imagens/icones/pix.png);
  background-size: 40px;
  background-color: transparent;
  width: 40px;
  height: 40px;
}
#chatbot .containerInferior .resposta .metodoPagamento {
  overflow: hidden;
  overflow-x: scroll;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: space-evenly;
}
#chatbot .containerInferior .resposta .metodoPagamento button {
  height: 50px;
  padding: 0px 20px;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
#chatbot .efeito8 {
  margin-bottom: 10px;
}
#chatbot .efeito8 .caixaMensagem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#chatbot .efeito8 .caixaMensagem p {
  margin-bottom: 20px;
}
#chatbot .efeito8 .caixaMensagem .pixContainer {
  background-color: white;
  height: 150px;
  width: 150px;
  display: flex;
}
#chatbot .efeito8 .caixaMensagem .pixContainer span {
  background-image: url(../imagens/foto/QRCode.jpeg);
  background-size: 150px;
  height: 150px;
  width: 150px;
}
#chatbot .efeito11 .caixaMensagem p {
  margin-bottom: 15px;
}
#chatbot .efeito11 .caixaMensagem .statuBarra {
  background-color: white;
  border-radius: 20px;
  width: 95%;
  height: 24px;
  padding: 0px 2.5px 0px 2.5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
#chatbot .efeito11 .caixaMensagem .statuBarra .progressoBarra {
  width: 0px;
  height: 18px;
  border-radius: 20px;
  background-color: rgb(26, 134, 236);
}

.cliente {
  display: flex;
  align-items: center;
  justify-content: end;
}
.cliente .fotoCliente {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.cliente .caixaMensagem {
  color: black;
  margin-right: 10px;
  padding: 15px 20px;
  border-radius: 13px;
  border-bottom-right-radius: 0px;
  background-color: rgb(230, 230, 230);
}

#containerLogin {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.384);
  display: none;
  justify-content: center;
  align-items: center;
}
#containerLogin .login {
  background-color: white;
  padding: 0% 9% 9% 9%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#containerLogin .login .fechar {
  position: absolute;
  margin: 9px 0px 0px 28vh;
  font-weight: bold;
  width: 20px;
  height: 20px;
}
#containerLogin .login .fechar:hover {
  color: red;
  transition: 0.2s;
  cursor: pointer;
}
#containerLogin .login h2 {
  font-size: 18px;
  margin-top: 7vh;
}
#containerLogin .login label {
  margin: 4vh 0px -10px -16vh;
}
#containerLogin .login input {
  border-bottom: 1px solid black;
  padding: 0px 0px 5px 5px;
}
#containerLogin .login button {
  width: 28vh;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(26, 134, 236);
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
#containerLogin .login a {
  color: rgb(100, 100, 100);
  margin-top: 5px;
  cursor: pointer;
}
#containerLogin .login a:hover {
  color: blue;
}
@media (width <= 425px) {
  #containerLogin .login label {
    margin: 4vh 0px -10px -18vh;
  }
  #containerLogin .login button {
    width: 100%;
    margin-top: 30px;
  }
}
#containerLogin .cadastro {
  background-color: white;
  padding: 5% 9%;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
#containerLogin .cadastro div {
  margin-top: 20px;
}
#containerLogin .cadastro .fechar {
  position: absolute;
  margin: -4% 0px 0px 45%;
  font-weight: bold;
  width: 20px;
  height: 20px;
}
#containerLogin .cadastro .fechar:hover {
  color: red;
  transition: 0.2s;
  cursor: pointer;
}
#containerLogin .cadastro input {
  border-bottom: 1px solid black;
  padding: 0px 0px 5px 5px;
  margin-top: 3px;
}
#containerLogin .cadastro button {
  width: 24vh;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(26, 134, 236);
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
@media (width <= 425px) {
  #containerLogin .cadastro label {
    margin-left: 2%;
  }
  #containerLogin .cadastro button {
    width: 100%;
    margin-top: 30px;
  }
}
#containerLogin .esqueceuSenha {
  display: none;
}
#containerLogin .esqueceuSenha .frente {
  background-color: white;
  padding: 40px 40px 20px 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#containerLogin .esqueceuSenha .frente .fechar {
  position: absolute;
  margin: -30px 0px 0px 27vh;
  font-weight: bold;
  width: 20px;
  height: 20px;
}
#containerLogin .esqueceuSenha .frente .fechar:hover {
  color: red;
  transition: 0.2s;
  cursor: pointer;
}
#containerLogin .esqueceuSenha .frente h2 {
  font-size: 18px;
  margin-bottom: 3vh;
}
#containerLogin .esqueceuSenha .frente label {
  text-align: center;
}
#containerLogin .esqueceuSenha .frente input {
  border-bottom: 1px solid black;
  padding: 0px 0px 5px 5px;
  margin-top: 10px;
}
#containerLogin .esqueceuSenha .frente button {
  width: 24vh;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(26, 134, 236);
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
#containerLogin .esqueceuSenha .verso {
  background-color: white;
  padding: 40px 40px 20px 40px;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#containerLogin .esqueceuSenha .verso button {
  width: 24vh;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(26, 134, 236);
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

#modalCardapio {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.384);
  display: none;
  justify-content: center;
  align-items: center;
}
#modalCardapio .container {
  background-color: white;
  width: 85%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#concluirApp .ultimaParte {
  background-color: rgb(0, 53, 228);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 0vh;
  border-radius: 15px 15px 0px 0px;
}
#concluirApp .ultimaParte h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
#concluirApp .ultimaParte p {
  margin-bottom: 10px;
  font-size: 18px;
}
#concluirApp .ultimaParte span {
  background-image: url(../imagens/icones/correto\ \(1\).png);
  background-size: 100%;
  height: 20vh;
  width: 20vh;
  margin-top: 10vh;
}/*# sourceMappingURL=styles.css.map */