$cor-cliente:rgb(230, 230, 230);
$cor-bot:rgb(26, 134, 236);

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

@mixin centralizar_item{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container1{
    @include centralizar_item();
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;

    label{
        position: absolute;
        top: 38%;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }

    #bolas{
        display: flex;
        justify-content: space-between;
    }

    .bola{
        width: 3vh;
        height: 3vh;
        border-radius: 50%;
        background-color: black;
        margin-left: 5px;
    }
}

#cabecalho{
    width: 100%;
    height: 60px;
    background-color:rgb(0, 53, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.49);
    z-index: 1000;

    nav{
        h3{
            font-size: 24px;
            color: white;
        }
    }
}

main{
    padding-right: 1em;
    height: 88vh;
    padding-bottom: 50px;
    overflow-y: scroll;
}

#chatbot{
    margin-top: 10vh;
    

    .mensagem{
        display:flex;
        align-items: center;

        .caixaMensagem{
            color: white;
            font-weight: bold;
            padding: 15px 25px 15px 20px;
            border-radius: 13px;
            border-bottom-left-radius:0px;
            background-color: rgb(26, 134, 236);
        }
    
        .fotoRobo{
            height: 60px;
            width: 60px;
        }
    }

    .efeito3{
        display: none;
    }

    .efeito4{
        margin-top: 10px;

        .caixaMensagem{
            padding-left: 30px;
        
            img{
                margin-bottom: 10px;
                border-radius: 15px;
                box-shadow: 0px 0px 5px 0px black;
                cursor: pointer;
            }

            a{
                color: white;
                font-weight: bold;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                    color: blue;
                    transition: 0.2s;
                }
            }
        
        }
    }

    .containerInferior{
        position: fixed;
        z-index: 10000000;
        bottom: 0;
        width: 100%;

        .compra{
            overflow: hidden;

            .botaoSubir{
                border-radius: 50%;
                width: 40px;
                height: 40px;
                background-color: white;
                box-shadow: 0px 0px 5px 0px black;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 25px;
                position: fixed;
                top: 0;
                left:0;
                margin: 23em 0px 0px -44px;
                display: flex;
                justify-content: center;
                line-height: 2em;

                .contagemPedido{
                    width: 25px;
                    height: 25px;
                    background-color: red;
                    border-radius: 50%;
                    margin: -6px 0px 0px 32px;
                    color: white;
                    position: absolute;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    font-size: 10px;
                }
            }

            .pedidos{
                overflow: hidden;
                overflow-y: scroll;
                position: fixed;
                display: none;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                top: 0;
                background-color: white;
                width: 100%;
                height: 100%;
                z-index: 100000;

                .fecharPedido{
                    width: 100%;
                    height: 40px;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                
                    button{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        font-size: 20px;
                        background-color: transparent;
                    }
                }

                .containerPedidos{
                    overflow-y: scroll;

                    .itens{
                        .item{
                            .parteProduto{
                                width: 100%;
                                display: flex; 
                                justify-content: space-evenly; 
                                padding: 20px 15px 20px 0px;
                                background-color: rgb(247, 247, 247);
                                border-bottom-left-radius: 20px;                            
                                border-bottom-right-radius: 20px;                            
    
                                .imagemComida{
                                    display: flex;
                                    align-items: center;
                                    margin: 0px 10px 0px 10px;
    
                                    div{
                                        width: 8vh;
                                        height: 8vh;
                                        background-image: url(../imagens/foto/A\ super\ salada\ do\ chefe.jpg);
                                        background-size: cover;
                                        border-radius: 50%;
                                    }
                                }
    
                                .escrita{
                                    width: 35%;
    
                                    p{
                                        text-align: justify;
                                        a{
                                            text-decoration: none;
                                        }
    
                                        .parteAberta{
                                            display: none;
                                        }
                                    }
                                }
    
                                .preco{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    
                                    .valor{
                                        font-size: 20px;

                                        .containerQuantidade{
                                            display: none;
                                            justify-content: center;
                                            margin-bottom: 5px;
                                        }
                                    }
    
                                    .acrescentar{
                                        button{
                                            width: 30px;
                                            height: 30px;
                                            font-size: 30px;
                                            font-weight: bold;
                                            background-color: transparent;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                        
                    }
                }
            }

        .resposta{
            height: 11vh;
            display: none;
            background-color: white;
            box-shadow:0px -10px 13px -16px rgba(0, 0, 0, 0.473);
            
            .rolar{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
            
                .button{
                    width: 35%;
                    height: 50px;
                    background-color: $cor-cliente;
                    border-radius: 5px;
                    font-size: 20px;
                    cursor: pointer;
                }
            }

            .comida{
                overflow: hidden;
                overflow-x: scroll;
                padding-right: 20px;
                height: 100%;
                display: flex;
                align-items: center;

                .button{
                    height: 50px;
                    padding: 0px 20px;
                    background-color: $cor-cliente;
                    border-radius: 5px;
                    font-size: 20px;
                    cursor: pointer;

                    &:focus:not(.fim){
                        opacity: .5;
                        cursor: none;
                        transition: 1s;
                    }
                }

                @media (width <= 425px){
                    .button{
                        margin-left: 20px;
                    }
                }

                @media (width > 425px){
                    .button{
                        margin-left: 20px;
                    }

                    .comida1{
                        margin-left: 30.5em;
                    }
                }
            
                @media (width > 768px ) {
                    .button{
                        margin-left: 0px;
                    }

                    .comida1{
                        margin-left: 0em;
                    }
                }
            }
        }
    }
}
.cliente{
    display:flex;
    align-items: center;
    justify-content: end;

    .fotoCliente{
        height: 60px;
        width: 60px;
        margin-right: 10px;
    }

    .caixaMensagem{
        color: black;
        margin-right: 10px;
        padding: 15px 20px;
        border-radius: 13px;
        border-bottom-right-radius:0px;
        background-color: $cor-cliente;
    }
}

#containerLogin{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.384);
    display: none;
    justify-content: center;
    align-items: center;

    .login{
        background-color: white;
        padding: 0% 9% 9% 9%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .fechar{
            position: absolute;
            margin: 9px 0px 0px 28vh;
            font-weight: bold;
            width: 20px;
            height: 20px;

            &:hover{
                color: red;
                transition: 0.2s;
                cursor: pointer;
            }
        }

        h2{
            font-size: 18px;
            margin-top: 7vh;
        }

        label{
            margin: 4vh 0px -10px -16vh;
        }

        input{
            border-bottom: 1px solid black;
            padding: 0px 0px 5px 5px;
        }

        button{
            width: 28vh;
            height: 35px;
            border-radius: 5px;
            background-color: $cor-bot;
            font-weight: bold;
            font-size:15px;
            color: white;
            margin-top: 20px;
            margin-bottom: 10px;
            cursor: pointer;
        }

        a{
            color: rgb(100, 100, 100);
            margin-top: 5px;
            cursor: pointer;
            
            &:hover{
                color: blue;
            }
        }

        @media (width <= 425px) {
            label{
                margin: 4vh 0px -10px -18vh;
            }

            button{
                width: 100%;
                margin-top: 30px;
            }
        }
    }

    .cadastro{
        background-color: white;
        padding: 5% 9%;
        border-radius: 5px;
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: left;

        div{
            margin-top: 20px;
        }

        .fechar{
            position: absolute;
            margin: -4% 0px 0px 45%;
            font-weight: bold;
            width: 20px;
            height: 20px;

            &:hover{
                color: red;
                transition: 0.2s;
                cursor: pointer;
            }
        }

        input{
            border-bottom: 1px solid black;
            padding: 0px 0px 5px 5px;
            margin-top: 3px;
        }

        button{
            width: 24vh;
            height: 35px;
            border-radius: 5px;
            background-color: $cor-bot;
            font-weight: bold;
            font-size:15px;
            color: white;
            margin-top: 20px;
            margin-bottom: 10px;
            cursor: pointer;
        }

        @media (width <= 425px) {
            label{
                margin-left:2%;
            }

            button{
                width: 100%;
                margin-top: 30px;
            }
        }
    }

    .esqueceuSenha{
        display: none;

        .frente{
            background-color: white;
            padding: 40px 40px 20px 40px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .fechar{
                position: absolute;
                margin: -30px 0px 0px 27vh;
                font-weight: bold;
                width: 20px;
                height: 20px;
    
                &:hover{
                    color: red;
                    transition: 0.2s;
                    cursor: pointer;
                }
            }

            h2{
                font-size: 18px;
                margin-bottom: 3vh;
            }

            label{
                text-align: center;
            }
    
            input{
                border-bottom: 1px solid black;
                padding: 0px 0px 5px 5px;
                margin-top: 10px;
            }
    
            button{
                width: 24vh;
                height: 35px;
                border-radius: 5px;
                background-color: $cor-bot;
                font-weight: bold;
                font-size:15px;
                color: white;
                margin-top: 20px;
                margin-bottom: 10px;
                cursor: pointer;
            }
        }

        .verso{
            background-color: white;
            padding: 40px 40px 20px 40px;
            border-radius: 5px;
            display: none;
            flex-direction: column;
            align-items: center;
            text-align: center;

            button{
                width: 24vh;
                height: 35px;
                border-radius: 5px;
                background-color: $cor-bot;
                font-weight: bold;
                font-size:15px;
                color: white;
                margin-top: 20px;
                margin-bottom: 10px;
                cursor: pointer;
            }
        }
    }
}

#modalCardapio{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.384);
    display: none;
    justify-content: center;
    align-items: center;

    .container{
        background-color: white;
        width: 85%;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}